.app-shell {
  
  display: flex;
  flex-direction: row;
  background-color: transparent;

}

.app-shell__content {
  flex: 1;
  min-width: 0;

  
  opacity: 1;
  background-color: transparent;
}

#root{
    background: url('assets/General/Bg.png') ;
    background-size: cover;

  overflow: overlay;
  overflow-x: hidden;




}

#root::-webkit-scrollbar {
  width: thin; /* Chrome, Safari, Opera */
  height: thin; /* Chrome, Safari, Opera */
  background: #ffd6b29f; 
  width: 10px; 
  height: 10px; 
  
}

#root::-webkit-scrollbar-thumb {
  background: #FFD6B2;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}