.app-shell {
  
  display: flex;
  flex-direction: row;
  background-color: transparent;

}

.app-shell__content {
  flex: 1;
  min-width: 0;

  
  opacity: 1;
  background-color: transparent;
}

#root{
    background: url('assets/General/Bg.png') ;
    background-size: cover;

  overflow: overlay;
  overflow-x: hidden;

  scrollbar-width: none;


}