:root {
  --bg: #14161c;
  --surface: #d9d3b92d;
  --surface-header: #292420;
  --border: #ffffff00;
  --text: #eef0f4;
  --text-dark: #3F3F3F;
  --text-muted: #ffffff;
  --accent: #736448;
  --accent-contrast: #ffffff;
  --danger: #e35d6a;
  --gold: #e9c46a;
  --base-button: #F5EFE3;
  --base-text-size: 12px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
